doctype html
html(lang="ru-Ru")
  head 
    meta(charset="UTF-8")
    title highweb
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="css/style.min.css")
  body
    main
      div.container
        section.logo
          a(href="index.html").logo__link highweb
        section.info
          h2.info__title Our site is under development
          p.info__text And this means that there will soon be something very interesting :)
          div.info__img
            img(src="img/1.svg" alt="шестеренки").info__img1
            img(src="img/2.svg" alt="шестеренки").info__img2
            img(src="img/3.svg" alt="шестеренки").info__img3
          div.info__open
            p.info__text.info__text2 opening through:
            div(id="countdown").countdown
              div.countdown-number
                span.days.countdown-time
                span.countdown-text Days
              div.countdown-number
                span.hours.countdown-time
                span.countdown-text Hours
              div.countdown-number
                span.minutes.countdown-time
                span.countdown-text Minutes
              div.countdown-number
                span.seconds.countdown-time
                span.countdown-text Seconds

      script(src="js/script.min.js")
