header.header
    nav.header__nav.container
      //- a(href="index.html").logo нейропарфю
      ul.top__list
        li.topmenu
          a(href="#love-link").top__link Love
        li.topmenu
          a(href="#youth-link").top__link Youth
        li.topmenu
          a(href="#harmony-link").top__link Harmony
        li.topmenu
          a(href="#elegance-link").top__link Elegance
        li.topmenu
          a(href="#success-link").top__link Success
          
