section.section3
  section.page-3
    section.block.container
      div.block1-img
        img(src="img/love.jpg" alt="парфюм Нейропарфюм Love")
      div.block-info
        h2(id="love-link").block-title "Любовь/Love"
        p.block-context Аура шарма.
        span.block-old 2560руб
        span.block-price 1199руб
        p.block-about <strong>Технология нанесения:</strong> В особом «женском» состоянии гибко-текущей, чувственной и очень вкусной женственности – нанесите парфюм «Love» на запястья рук, немного распылите по затылочной линии роста волос и в район солнечного сплетения. Можно нанести по желанию на локтевые и подколенные сгибы, а также вокруг пупка на живот, втирая в кожу круговыми движениями по часовой стрелке. Затем с наслаждением вдохните этот аромат и зафиксируйте свое комфортное, насыщенное свежей, женской энергией состояние на 3-5 секунд. 
        p.block-advice <strong>Полезные советы:</strong> хранить в сухом, защищенном от света и недоступном для детей месте при температуре не выше 25°С. 
        p.block-contra <strong>Противопоказания:</strong> индивидуальная непереносимость компонентов.
        a(href="#" title="love").block-request Заказать
    div.block-bg
      section.block.container
        div.block1-img
          img(src="img/youth.jpg" alt="парфюм Нейропарфюм Youth")
        div.block-info
          h2(id="youth-link").block-title "Молодость/Youth"
          p.block-context Энергия молодости.
          span.block-old 2560руб
          span.block-price 1199руб
          p.block-about <strong>Технология нанесения:</strong> В начале дня в легком и свежем состоянии нанесите парфюм «Youth» на запястья рук и немного распылите по затылочной линии роста волос, возможно нанесение по желанию на локтевые и подколенные сгибы. Затем с наслаждением вдохните этот аромат и зафиксируйте своё комфортное, насыщенное свежей, молодой энергией состояние на 3-5 секунд. После того как активные компоненты начнут свое действие, можно заняться своими ежедневными делами. 
          p.block-advice <strong>Полезные советы:</strong> хранить в сухом, защищенном от света и недоступном для детей месте при температуре не выше 25°С. 
          p.block-contra <strong>Противопоказания:</strong> индивидуальная непереносимость компонентов.
          a(href="#" title="youth").block-request Заказать
    section.block.container
      div.block1-img
        img(src="img/harmony.jpg" alt="парфюм Нейропарфюм Harmony")
      div.block-info
        h2(id="harmony-link").block-title "Медитация/Harmony"
        p.block-context Осознание спокойствия.
        span.block-old 2560руб
        span.block-price 1199руб
        p.block-about <strong>Технология нанесения:</strong> По мере необходимости, войдя в медитативное, гармоничное альфа-состояние, нанесите парфюм «Harmony» на запястья рук, солнечное сплетение, живот в районе пупка и на сгибы ног под коленями, можно нанести по желанию на стопы ног и лодыжки. Затем с наслаждением вдохните этот аромат и зафиксируйте свое комфортное, насыщенное чистой, спокойной и гармоничной духовной энергией состояние на 3-5 секунд. 
        p.block-advice <strong>Полезные советы:</strong> хранить в сухом, защищенном от света и недоступном для детей месте при температуре не выше 25°С. 
        p.block-contra <strong>Противопоказания:</strong> индивидуальная непереносимость компонентов.
        a(href="#" title="harmony").block-request Заказать
    div.block-bg
      section.block.container
        div.block1-img
          img(src="img/elegance.jpg" alt="парфюм Нейропарфюм Elegance")
        div.block-info
          h2(id="elegance-link").block-title "Стройность/Elegance"
          p.block-context Утонченная элегантность.
          span.block-old 2560руб
          span.block-price 1199руб
          p.block-about <strong>Технология нанесения:</strong> В начале дня в спокойном, гармоничном состоянии нанесите парфюм Elegance на запястья рук, а затем с наслаждением вдохните этот аромат и зафиксируйте свое комфортное, насыщенное свежей энергией состояние на 3-5 секунд. После того как активные компоненты начнут свое действие, можно заняться своими ежедневными делами. 
          p.block-advice <strong>Полезные советы:</strong> хранить в сухом, защищенном от света и недоступном для детей месте при температуре не выше 25°С. 
          p.block-contra <strong>Противопоказания:</strong> индивидуальная непереносимость компонентов.
          a(href="#" title="elegance").block-request Заказать
    section.block.container
      div.block1-img
        img(src="img/success.jpg" alt="парфюм Нейропарфюм Success")
      div.block-info
        h2(id="success-link").block-title "Успех/Success"
        p.block-context Мотивация на уровне инстинкта.
        span.block-price 1199руб
        span.block-old 2560руб
        p.block-about <strong>Технология нанесения:</strong> Лучше всего с утра после завтрака, при необходимости включить дополнительные источники Энергии для решения задач дня, нанесите парфюм «Succes» на запястье одной руки (ведущей), также можно на точку солнечного сплетения и на лодыжки ног. Затем с наслаждением вдохните этот аромат и зафиксируйте свое сильное, бодрое состояние на 3-5 секунд. После того как активные компоненты начнут свое действие, можно заняться своими ежедневными делами. 
        p.block-advice <strong>Полезные советы:</strong> хранить в сухом, защищенном от света и недоступном для детей месте при температуре не выше 25°С. 
        p.block-contra <strong>Противопоказания:</strong> индивидуальная непереносимость компонентов.
        a(href="#" title="success").block-request Заказать
