section.page-1
  div.container
    section.page-1__content
      div.page-1__bg-img
        img(src="img/big.png" alt="нейродухи, парфюм").page-1__img
      section.page-1__content__info
        h1.page-1__content__title Оригинальный парфюм со скидкой 
          span.page-1__big 53%
        ul.page-1__lists
          li.page-1__list
            p Оригинальная продукция
          li.page-1__list
            p Стойкий аромат
          li.page-1__list
            p Выгодная цена
          li.page-1__list
            p Быстрая доставка  
        a(href="#all").page-1__link Смотреть все!
