div.page-4__bg
  section.page-4.container
    h2.page-4__title Отзывы покупателей
    div.page-4__comments
      div.page-4__comment
        img(src="img/rev-1.jpg" alt="отзывы парфюм Нейропарфюм")
        p.page-4__name Лера Краснова
        span.page-4__stars
        p.page-4__text Делала покупку в вашем магазине осталась очень довольна. Духи великолепные. Доставка быстрая и цены приятные. Долго искала приемлемую цену и вот здесь нашла! спасибо за хороший сервис и быструю доставку!
      div.page-4__comment
        img(src="img/rev-1.jpg" alt="отзывы парфюм Нейропарфюм")
        p.page-4__name Алексей Фролов
        span.page-4__stars2
        p.page-4__text Изначально очень порадовала цена на эти духи. Решил заказать. Заказ привезли на следующий день. В целом продуктом доволен. Можно заказывать и дальше.
      div.page-4__comment
        img(src="img/rev-3.jpg" alt="отзывы парфюм Нейропарфюм")
        p.page-4__name Светлана Попова
        span.page-4__stars
        p.page-4__text Intense Roses Musk приятный, стойкий вкусный. И молодым подойдет и слегка за 30... Очень хороший аромат, подружкам понравился. Заметила одну особенность, на следующий день футболка пахнет очень нежно и обворожительно.
